[Unit]
Description=Nexus Repository Manager
After=network.target

[Service]
Type=simple
User={{ nexus_user }}
Group={{ nexus_user }}
# Le Java utilise est fixe via INSTALL4J_JAVA_HOME_OVERRIDE dans bin/nexus
ExecStart={{ nexus_install_dir }}/bin/nexus run
Restart=on-failure
LimitNOFILE=65536
TimeoutStartSec=600

[Install]
WantedBy=multi-user.target
